* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {

    background-color: $color-secondary;
}

body {

    background-color: $color-primary;
}

html,
body {
    font-family: $font-primary;
    font-size: 10px;
}

.animation-item {
    position: relative;
}

.animation-item::after {
    content: "";
    position: absolute;
    top: -10%;
    right: 0;
    width: 100%;
    height: 120%;
    background-color: $color-primary;
    z-index: 5;
    transition: .3s ease-out;
}

.animation-item-active::after {
    width: 0;
    // opacity: 0;
}

.dark-bg {
    background-color: $color-secondary;
}

h1 {
    position: relative;
    width: auto;
    // font-weight: $font-weight-light;
    text-transform: uppercase;
    overflow: hidden;

}

h1,
h2 {
    font-weight: $font-weight-light;
}

.animation-enter-active::after {
    content: "";
    position: absolute;
    top: -10%;
    left: -100%;
    width: 100%;
    height: 120%;
    background-color: $color-secondary;
    animation: fly-in 1s ease-in-out 1;
}

.animation-enter {
    opacity: 0;
    transition: .8s .1s ease-in-out;
}

.animation-enter-active-opacity {
    opacity: 1;
}

.big-line-height,
.medium-line-height {
    letter-spacing: -0.3rem;
}

.v-big-line-height {
    font-size: 13rem;
    // line-height: 12rem;
}

.big-line-height {
    font-size: 5rem;
    // line-height: 5rem;
}



main {
    width: 100%;
    // min-height: 100vh;
    @include flex-center;
    flex-direction: column;
    overflow: hidden;
}

article {
    width: 100%;
    max-width: 192rem;
    height: 100%;
    @include flex-center;
    flex-direction: column
}

section {
    @include full-size;

}

.hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include full-size;
    padding: 10rem 0;
    ;
}

.hero-title-h1 {
    font-size: 25rem;
    text-transform: uppercase;
    // line-height: 16rem;
}

.flex-center {
    @include flex-center;
}

.three-headlines {
    padding: 10rem 0;
    justify-content: center;
}

.three-headlines-p {
    font-size: 5rem;
    // line-height: 5rem;
    // margin: 3rem 0;
    text-transform: uppercase;
    color: $color-primary;
    text-align: center;
    padding: 0 5rem;
}

.middle-border {
    border-left: .1rem solid $color-primary;
    border-right: .1rem solid $color-primary;

}


.section-image-right {
    // height: 100vh;
    // max-height: 100vh;
    overflow: hidden;
}

// .section-with-image-and-text {
//     // min-height: 100vh;

// }

.section-with-image-and-text,
.section-image-right {

    overflow: hidden;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    width: auto;
    height: auto;

}

.image-container,
.text-container {
    width: 50%;
    @include flex-center;
    flex-direction: column;
}

.text-wide-container {
    width: 100%;
    @include flex-center;

    p {

        width: 80%;
        font-size: 5rem;
        margin: 3rem 0;
    }
}

.image-container {
    height: 60vh;
    min-height: 60vh;


}

.section-full-image {
    padding: 2rem 0;
    text-align: center;
}

.full-width-image {
    width: 100%;
    // height: auto;

    height: 30rem;
    // object-fit: cover;
    margin: 1rem 0;
}



.img-box {
    @include full-size;
    @include flex-center;
    position: relative;




    img {
        position: relative;
        width: 40%;
        box-shadow: 0 0 6rem 1rem rgb(0, 0, 0);
        border-radius: 2rem;

        z-index: 2;
    }


}

.height-b {
    min-height: 80vh;
}





.blur-img-bg {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(15px);
    background-position: center;
    // background-position: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;


}

.img-1,
.img-2,
.img-3,
.img-4 {
    background-position: center;
    // background-position: 80%;
    background-size: cover;
    background-repeat: no-repeat;

}

.img-1 {
    background-image: url(../images/building-1280.jpg);

}

.img-2 {
    background-image: url(../images/office-1280.jpg);
}



.img-3 {
    background-image: url(../images/airplane-1280.jpg);

}

.img-4 {
    background-image: url(../images/Maciej-Szelag-work.jpg);
    // background-position: 100% 30%;
    // height: 50vh;


}




.text-container {

    p {
        font-size: 3rem;
        // font-family: $font-secondary;
        width: 70%;
    }

    .primary-font {
        font-family: $font-primary;
        margin-bottom: 3rem;
    }
}



.clippy-path-1 {
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

.clippy-path-2 {
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 20% 100%);
}

.section-title {
    font-size: 7rem;
    // line-height: 5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    @include flex-center;
    text-align: center;
    padding: 1rem 0 3rem
}

.shrimp-title {
    width: 50%;
}

.border-line-bottom {
    border-bottom: .1rem solid $color-secondary;
}

.section-title-80 {
    width: 80%;
    margin: 0 auto;
}

.section-about {
    position: relative;
    @include full-size;
    // background-color: grey;
    padding: 6rem 5rem;

}

.section-about-cover {
    @include full-size;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(/images/maciej-szelag.PNG);
    background-position: left 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0;
    z-index: 1;
    transition: .4s .5s linear;
}

.section-about-cover-active {
    opacity: .4;
}

.title-wrap {
    width: 100%;


}

.big-title,
.text-wrap,
.btn-wrap-about {
    position: relative;
    z-index: 2;
}

.big-title {
    width: 100%;
    font-size: 24rem;
    text-align: left;
    text-transform: uppercase;
    border-bottom: .1rem solid $color-secondary;
    padding-bottom: 0;
}

.text-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 3rem 10rem 3rem;
    margin-top: 7rem;
}

.paragraph-about {
    width: 70%;
    text-align: right;
    font-size: 5rem;
    // font-family: $font-secondary;
    text-shadow: .1rem .1rem 1rem rgb(255, 255, 255);
}

.btn-wrap-about {
    width: 40rem;
    height: 8rem;
    margin-left: 5rem // background-color: grey;
}

.btn-about {
    @include full-size;


    transform: rotate(-90deg);
    transform-origin: left;

    a {
        @include full-size;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: .1rem solid $color-secondary;
        border-radius: 5rem;
        text-transform: uppercase;
        font-size: 3rem;
        text-decoration: none;
        font-family: $font-secondary;
        color: $color-secondary;
        transition: .3s ease-in-out;
    }


    a:hover {
        background-color: $color-secondary;
        color: $color-primary;
    }
}



.section-about-offer {
    width: 100%;
    height: auto;
    padding: 5rem 20rem;
    // background-color: $color-secondary;
    // color: $color-primary;
}

.offer-title {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0 8rem;
}

.offer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 5rem;
    font-size: 3rem;
    // font-family: $font-secondary;

    h3 {
        width: 40%;
        font-size: 6rem;
        padding-left: 3rem;
        margin-bottom: 4rem;
        border-left: .5rem solid $color-secondary
    }

    ul {
        padding: 3rem 3rem 0;
        width: 50%;
        // box-shadow: 1.8rem 0 1.5rem .1rem rgba(128, 128, 128, 0.336);



        li {
            font-size: 3rem;
            margin-bottom: 4rem;
            list-style: none;

            strong {
                padding-right: 2rem;
            }
        }
    }
}

.padding-c {
    padding: 5rem 0;
}

.align-btn {
    @include flex-center;
    margin-bottom: 7rem;
}

a.contact {
    position: relative;
    padding: 3rem 8rem;
    box-shadow: 1rem 1.5rem 1rem .1rem rgb(241, 241, 241), -1rem -.1rem 2rem .1rem rgb(155, 155, 155);
    font-size: 5rem;
    color: $color-secondary;
    text-decoration: none;
    text-transform: uppercase;
    transition: .6s ease-in-out;
    border-radius: 50rem;
    overflow: hidden;

}

a.contact::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg,
            $color-primary,
            transparent,
            $color-primary,
            transparent,
            $color-primary);
    filter: blur(5px);
    transform: skew(-45deg);
    transition: 1s ease-in-out;

}

a.contact:hover::after {
    left: 100%;
}



@media(max-width:1400px) {
    .three-headlines-p {
        font-size: 5rem;
        // line-height: 3.5rem;
        // margin: 2rem 0;
    }

    .section-about-offer {

        padding: 5rem 5rem;

    }
}


@media (max-width: 1200px) {
    .v-big-line-height {
        font-size: 8rem;
        // line-height: 5.3rem;
    }

    .big-line-height {
        font-size: 6rem;
        // line-height: 4rem;
    }

    .hero-title {
        height: 90%;
        // background-color: grey;
    }

    .hero-title-h1 {
        font-size: 20rem;
        // line-height: 12.5rem;
    }

    .section-title {
        font-size: 5rem;
        // line-height: 3.5rem;
        padding: 4rem 0
    }

    .text-container {

        p {
            font-size: 3rem;
            // font-family: $font-secondary;
            // width: 70%;
        }
    }

    .section-about-offer {

        padding: 5rem 10rem;

    }

    .offer-title {
        font-size: 6rem;
        margin: 4rem 0;

    }

    .offer-content {
        // overflow: hidden;




        h3 {
            // width: 40%;
            font-size: 4rem;
            // padding-left: 3rem;
            // margin-bottom: 4rem;
            // border-left: .5rem solid $color-secondary
        }

        ul {
            // padding: 3rem;
            // width: 50%;




            li {
                font-size: 2rem;
                // margin-bottom: 4rem;
                // list-style: none;

                // strong {
                //     padding-right: 2rem;
                // }
            }
        }
    }

    a.contact {
        padding: 2rem 6rem;
        font-size: 4rem;
    }
}

@media (max-width:1024px) {

    // .v-big-line-height {
    //     font-size: 8rem;
    //     // line-height: 12rem;
    // }

    // .big-line-height {
    //     line-height: 6rem;
    //     // line-height: 5rem;
    // }

    section {
        height: auto;
    }

    .section-about-cover {
        height: 50%;
        opacity: .1;

    }

    .text-wrap {
        .paragraph-about {
            width: 80%;
            font-size: 4rem;
        }
    }

    .big-title {
        font-size: 12rem;

    }

    .text-wide-container {
        // width: 100%;
        // @include flex-center;

        p {


            font-size: 3rem;
            text-align: left;

        }
    }

    .section-about-offer {

        padding: 5rem 10rem;

    }

    // .offer-title {
    //     font-size: 6rem;
    //     margin: 4rem 0;

    // }
    .height-b {
        min-height: 30vh;
    }

    .img-box {

        img {

            width: 70%;
            box-shadow: none;
            // box-shadow: 0 0 5rem .5rem rgb(0, 0, 0);
            border-radius: 0;
        }

    }

    .offer-content {
        flex-direction: column;


        h3,
        ul {
            width: 100%;
        }

        h3 {
            // width: 40%;
            font-size: 4rem;
            // padding-left: 3rem;
            // margin-bottom: 4rem;
            padding-left: 0;
            border-left: none
        }

        ul {
            // padding: 3rem;
            // width: 50%;
            padding-left: 0;




            li {
                font-size: 3rem;
                // padding-left: 2rem;
                // border-left: .2rem solid $color-secondary
            }
        }
    }

    .contact-p {
        font-size: 3rem;
    }

    a.contact {

        font-size: 3.5rem;
    }
}

@media (max-width: 992px) {
    .three-headlines {
        padding: 5rem 0;
        justify-content: center;
    }

    .three-headlines-p {
        font-size: 4rem;
        // line-height: 3.5rem;
        // margin: 2rem 0;
    }


    .content-wrapper {
        flex-direction: column;
    }

    .image-container,
    .text-container {
        width: 100%;
        // @include flex-center;
        // flex-direction: column;
    }

    .section-title {
        width: 90%;
        font-size: 4rem;
        // line-height: 3.5rem;
        padding: 4rem 0;
    }

    .text-container {

        p {
            width: 80%;
            font-size: 2rem;
            margin: 5rem 0;
            // font-family: $font-secondary;
            // width: 70%;
        }

        .f-size {
            font-size: 3rem
        }
    }

    .text-wide-container {
        // width: 100%;
        // @include flex-center;

        p {

            width: 80%;
            font-size: 3rem;
            text-align: left;
            // margin: 3rem 0;
        }
    }

    .clippy-path-1,
    .clippy-path-2 {
        clip-path: none;
    }

    // .image-container {
    //     height: 50rem;
    // }

    .height-b {
        min-height: 30vh;
    }

    .img-box {

        img {

            width: 70%;
            box-shadow: none;
            // box-shadow: 0 0 5rem .5rem rgb(0, 0, 0);
            border-radius: 0;
        }

    }

    .img-1 {
        background-image: url(../images/building-640.jpg);
    }

    .img-2 {
        background-image: url(../images/office-640.jpg);
    }

    .img-3 {
        background-image: url(../images/airplane-640.jpg);
    }

    .big-title {
        font-size: 15rem;

    }

    .paragraph-about {
        width: 70%;


        font-size: 3rem;
    }


    .section-about-offer {
        padding: 3rem 7rem 0;
    }

    .offer-content {
        // flex-direction: column;
        padding: 2rem 0;

        // h3,
        // ul {
        //     width: 100%;
        // }

        h3 {
            width: 80%;
            font-size: 4rem;
            // padding-left: 3rem;
            // margin-bottom: 4rem;
            // border-left: .5rem solid $color-secondary
        }

        ul {
            // padding: 3rem;
            width: 100%;
            // padding-left: 0;




            li {
                font-size: 3rem;
                // padding-left: 2rem;
                // border-left: .2rem solid $color-secondary
            }
        }
    }

}

@media (max-width: 768px) {
    .v-big-line-height {
        font-size: 5rem;
        // line-height: 3.5rem;
    }

    .big-line-height {
        font-size: 4rem;
        // line-height: 2.8rem;
    }

    .hero-title {
        height: 50%;
    }

    .hero-title-h1 {
        font-size: 8rem;

        // line-height: 6rem;
    }

    .flex-column-sm {
        @include flex-column;
    }

    .three-headlines-p {

        padding: 3rem 0;
    }

    .middle-border {
        border-left: none;
        border-right: none;
        border-top: .1rem solid $color-primary;
        border-bottom: .1rem solid $color-primary;

    }

    .big-title {
        font-size: 8rem;

    }

    .image-container-sm {
        height: auto;
        margin: 5rem 0 1rem;
    }

    .img-box-circle {
        width: 100%;
        height: 50rem;
        // margin: 3rem 0;
        // border-radius: 50%;
        overflow: hidden;
        // box-shadow: 0 0 1rem .5rem rgb(173, 173, 173);

        img {

            width: 100%;
            // transform: translateY(10%);

        }

    }

    .text-wrap {
        .paragraph-about {
            font-size: 2.3rem;
        }
    }

    a.contact {

        font-size: 3rem;
    }
}

@media (max-width: 576px) {
    .v-big-line-height {
        font-size: 5rem;
        // line-height: 5.5rem;
    }

    .big-line-height {
        font-size: 3rem;
        // line-height: 3.5rem;
    }

    // .hero-title {
    //     height: 50%;
    // }

    .hero-title-h1 {
        font-size: 7rem;

        // line-height: 4.5rem;
    }

    // .flex-column-sm {
    //     @include flex-column;
    // }

    // .three-headlines-p {

    //     margin: 2rem 0;
    // }
    .text-wide-container {
        // width: 100%;
        // @include flex-center;

        p {

            // width: 90%;
            font-size: 2rem;
            // margin: 3rem 0;
        }
    }

    .text-container {



        .f-size {
            font-size: 2rem
        }
    }

    .section-about-offer {
        padding: 3rem 5rem 0;
    }

    .section-about {

        // background-color: grey;
        padding: 2rem;

    }

    .section-about-cover {

        background-position: center;
        background-size: contain;

    }

    .big-title {
        font-size: 5rem;

    }

    .text-wrap {
        // display: flex;
        // justify-content: flex-end;
        // align-items: flex-end;
        // width: 100%;
        padding: 3rem;
        margin-top: 3rem;

        .paragraph-about {
            width: 100%;
            text-align: left;

            font-size: 2rem;
        }
    }

    // .paragraph-about {
    //     width: 100%;
    //     text-align: left;

    //     font-size: 2rem;
    // }

    .btn-wrap-about {
        width: auto;
        height: auto;
        margin-left: 5rem // background-color: grey;
    }

    .btn-about {
        margin-top: 4rem;
        width: 25rem;
        transform: rotate(0);

        a {
            font-size: 1.6rem;
            padding: 1rem 2rem;
            background-color: $color-primary;
        }

    }

    .offer-content {
        ul {
            padding: 0;

            li {
                font-size: 2rem;
            }
        }
    }

    a.contact {
        padding: 2rem;
        font-size: 1.6rem;
    }
}

@keyframes fly-in {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}