// Główne fonty
$font-primary: "Cormorant Garamond",
serif; // Glowny font
$font-secondary: "Julius Sans One",
sans-serif; // Drugi font

// Warianty wag (weights)
$font-weight-light: 300;
$font-weight-regular: 400;

//kolory
$color-primary: rgb(233, 232, 232); // czarny
$color-secondary: rgb(61, 60, 68); // biały